@model CompanyAddedViewModel

<div>Number of characters in name: <strong>@Model.NumberOfCharsInName</strong></div>
<div>Number of characters in description: <strong>@Model.NumberOfCharsInDescription</strong></div>
<div>Is hidden: <strong>@Model.IsHidden</strong></div>
