@model CompanyModel

<h1>Company management</h1>

<h2>Add new company</h2>

<form asp-action="Submit" method="post">
    <div class="form-group">
        <label asp-for="Name">Company name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Company description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group form-check">
        <input asp-for="IsVisible" class="form-check-input" />
        <label asp-for="IsVisible" class="form-check-label">Should this be visible?</label>
    </div>
        <div>
        <input type="submit" value="Save this" />
    </div>
</form>
