@model IEnumerable<NewBrandingStyle.Web.Entities.CompanyEntity>

<h1>Companies list</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-primary">@Html.Raw(ViewBag.Message)</div>
}

<div class="row mb-4">
    <div class="col-6">
        <a class="btn btn-primary" asp-action="Add">Add new Company</a>
    </div>
    <div class="col-6">
        <form method="get" class="form-inline float-right">
            <div class="form-group">
                <input class="form-control mr-1" type="text" name="q" />
            </div>
            <input class="btn btn-primary" type="submit" value="Search"/>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Is visible?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@Html.Raw(company.Name)</td>
                <td>@company.Description</td>
                <td>@(company.IsVisible ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
