@model IEnumerable<NewBrandingStyle.Web.Entities.CompanyEntity>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Is visible?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.Name</td>
                <td>@company.Description</td>
                <td>@(company.IsVisible ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
